In [44]:
import pandas as pd

In [52]:
df=pd.read_excel('20240828_121319_Lanzamiento_2R.xlsx', sheet_name='Individual')

#extraemos las columnas dataset, estimator_name, random_state, MAE y AMAE
df = df[['dataset', 'estimator_name', 'random_state', 'MAE', 'AMAE','MZE']]
df = df[df['estimator_name'] != 'logisticregressor']
df

      dataset      estimator_name  random_state       MAE      AMAE       MZE
0     abalone          logisticat             0  0.226475  0.794713  0.211324
1     abalone          logisticat             1  0.244817  0.861879  0.224083
2     abalone          logisticat             2  0.255981  0.797282  0.236045
3     abalone          logisticat             3  0.256778  0.840883  0.241627
4     abalone          logisticat             4  0.241627  0.877835  0.220893
...       ...                 ...           ...       ...       ...       ...
1315     wpbc  logisticit_desb_v2            25  1.661017  1.671941  0.711864
1316     wpbc  logisticit_desb_v2            26  1.525424  1.330989  0.694915
1317     wpbc  logisticit_desb_v2            27  1.355932  1.409377  0.627119
1318     wpbc  logisticit_desb_v2            28  1.423729  1.233846  0.677966
1319     wpbc  logisticit_desb_v2            29  1.559322  1.500513  0.711864

[1080 rows x 6 columns]

In [53]:
def get_mae_amae(df, dataset, estimator):
    # Filtrar el DataFrame para obtener las filas correspondientes al dataset y estimador
    df1 = df[(df['dataset'] == dataset) & (df['estimator_name'] == estimator)]
    df1 = df1[['random_state', 'MAE', 'AMAE','MZE']]
    
    # Filtrar el DataFrame para obtener las filas correspondientes al dataset y la versión mejorada del estimador
    df2 = df[(df['dataset'] == dataset) & (df['estimator_name'] == estimator + '_desb_v2')]
    df2 = df2[['random_state', 'MAE', 'AMAE','MZE']]
    
    # Cambiar el nombre de las columnas en df2
    df2.columns = ['random_state', 'MAE_v2', 'AMAE_v2','MZE_v2']       
    
    # Hacer un merge de los dos DataFrames en la columna 'random_state'
    df_merged = pd.merge(df1, df2, on='random_state')
    
    return df_merged

In [54]:
# funcion que dado un dataframe formado por random_state, MAE, AMAE y MAE_2, AMAE_2 compare los valores de MAE y AMAE con MAE_2 y AMAE_2 y devuelva las veces que MAE_2 y AMAE_2 son menores que MAE y AMAE
def compare_mae_amae(df):
    # Filtrar las filas donde MAE_2 < MAE y AMAE_2 < AMAE
    df_mae = df[(df['MAE_v2'] < df['MAE'])]
    df_amae = df[(df['AMAE_v2'] < df['AMAE'])]
    df_mze = df[(df['MZE_v2'] < df['MZE'])]
    amae_count = len(df_amae)
    mae_count = len(df_mae)
    mze_count = len(df_mze)
    return mae_count, amae_count, mze_count

In [55]:
df_final = pd.DataFrame(columns=['dataset', 'estimator_name', 'MAE_v2 < MAE', 'AMAE_v2 < AMAE'])
lista_datasets = df['dataset'].unique()
lista_estimators=['logisticat','logisticit']
for dataset in lista_datasets:
    for estimator in lista_estimators:
        df2 = get_mae_amae(df, dataset, estimator)
        x,y,z = compare_mae_amae(df2)
        new_row = pd.DataFrame({'dataset': [dataset], 'estimator_name': [estimator + '_desb_v2'], 'MAE_v2 < MAE': [x], 'AMAE_v2 < AMAE': [y], 'MZE_v2 < MZE': [z]})
        df_final = pd.concat([df_final, new_row], ignore_index=True)

In [56]:
df_final

      dataset      estimator_name MAE_v2 < MAE AMAE_v2 < AMAE  MZE_v2 < MZE
0     abalone  logisticat_desb_v2            0             30           0.0
1     abalone  logisticit_desb_v2            0             30           0.0
2        auto  logisticat_desb_v2            1             22           1.0
3        auto  logisticit_desb_v2            0             19           1.0
4    diabetes  logisticat_desb_v2            2             29           3.0
5    diabetes  logisticit_desb_v2            1             23           1.0
6     housing  logisticat_desb_v2            2             27           1.0
7     housing  logisticit_desb_v2            3             29           3.0
8     machine  logisticat_desb_v2            0             25           0.0
9     machine  logisticit_desb_v2            2             19           1.0
10      pyrim  logisticat_desb_v2            7             19           9.0
11      pyrim  logisticit_desb_v2            5             20           7.0
12      stock  logisticat_desb_v2           21             26          21.0
13      stock  logisticit_desb_v2           23             29          23.0
14  triazines  logisticat_desb_v2            0             28           1.0
15  triazines  logisticit_desb_v2            1             20           2.0
16       wpbc  logisticat_desb_v2            4             27          12.0
17       wpbc  logisticit_desb_v2            7             24           4.0

In [57]:
df_final.to_excel('Victorias_metricas_v2D5.xlsx', index=False)

In [59]:
df_final=pd.read_excel('Victorias_metricas_v2R.xlsx')

In [60]:
print(df_final.to_latex(index=False))

\begin{tabular}{llrrr}
\toprule
dataset & estimator_name & MAE_v2 < MAE & AMAE_v2 < AMAE & MZE_v2 < MZE \\
\midrule
ERA & logisticat_desb_v2 & 0 & 29 & 8 \\
ERA & logisticit_desb_v2 & 5 & 8 & 6 \\
ESL & logisticat_desb_v2 & 0 & 10 & 0 \\
ESL & logisticit_desb_v2 & 0 & 6 & 0 \\
LEV & logisticat_desb_v2 & 0 & 22 & 0 \\
LEV & logisticit_desb_v2 & 0 & 0 & 0 \\
SWD & logisticat_desb_v2 & 0 & 28 & 0 \\
SWD & logisticit_desb_v2 & 0 & 0 & 0 \\
automobile & logisticat_desb_v2 & 7 & 27 & 9 \\
automobile & logisticit_desb_v2 & 9 & 30 & 9 \\
balance-scale & logisticat_desb_v2 & 19 & 19 & 18 \\
balance-scale & logisticit_desb_v2 & 30 & 30 & 30 \\
car & logisticat_desb_v2 & 17 & 30 & 17 \\
car & logisticit_desb_v2 & 20 & 30 & 19 \\
contact-lenses & logisticat_desb_v2 & 12 & 15 & 10 \\
contact-lenses & logisticit_desb_v2 & 17 & 20 & 15 \\
eucalyptus & logisticat_desb_v2 & 8 & 7 & 12 \\
eucalyptus & logisticit_desb_v2 & 6 & 7 & 6 \\
newthyroid & logisticat_desb_v2 & 6 & 10 & 6 \\
newthyroid & logisticit_desb_v2 & 6 & 10 & 6 \\
pasture & logisticat_desb_v2 & 9 & 9 & 8 \\
pasture & logisticit_desb_v2 & 5 & 5 & 4 \\
squash-stored & logisticat_desb_v2 & 4 & 10 & 6 \\
squash-stored & logisticit_desb_v2 & 5 & 11 & 7 \\
squash-unstored & logisticat_desb_v2 & 6 & 6 & 6 \\
squash-unstored & logisticit_desb_v2 & 5 & 5 & 5 \\
tae & logisticat_desb_v2 & 10 & 10 & 8 \\
tae & logisticit_desb_v2 & 7 & 7 & 8 \\
toy & logisticat_desb_v2 & 0 & 1 & 2 \\
toy & logisticit_desb_v2 & 26 & 26 & 10 \\
winequality-red & logisticat_desb_v2 & 0 & 3 & 0 \\
winequality-red & logisticit_desb_v2 & 0 & 5 & 0 \\
\bottomrule
\end{tabular}